body {
    background-color: #080011;
    margin: 0;
    font-family: 'Libre Caslon Text', serif;
    color: #613D93;
    overflow-x: hidden;
}

/*!"#$%&/()=???)))))))))))))))))))))))))))))geral */h1 {
    letter-spacing: 0.15em; /* Increases space between letters */
    text-align: center;
    font-family: "Libre Caslon Text", serif;
        font-weight: 400;
    font-size: 1.2rem;

}

h2 {
    font-size: clamp(2.5rem, 5vw, 5rem); /* Responsive scaling with minimum and maximum sizes */
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

p {
    font-size: clamp(1.2rem, 2vw, 2rem); /* Responsive scaling with minimum and maximum sizes */
    font-family: "adobe-caslon-pro", serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    max-width: 60%;/* AUMENTEI Limite de largura para o texto */
}
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chapter6 {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #080011;
}

/* Container para a seção sticky e o espaço de scroll */
/*                                                 cena 1 */
#sticky-container {
    position: relative;
    height: 3000vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#sticky-container2 {
    position: relative;
    height: 1400vh;
    /* Ajuste a altura conforme necessário */
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#sticky-containers12 {
    position: relative;
    z-index: 1;
}

/* Modificado para que a imagem determine a altura da seção */
#cap6cena1 {
    height: 100vh;
    /* Altura inicial, será substituída pelo JS */
}

#cap6cena2 {
    height: 100vh;
    /* Altura inicial, será substituída pelo JS */
}
#fundo-img {
    position: absolute;
    /* Same as other background-image */
    opacity: 1;
    z-index: -2;

}

#fundo2-img {
    position: absolute;
    /* Same as other background-image */
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

                                               /* arvores */
 
#vegetacao-container {
     
    position: absolute;
    left: 0;
    top: 200vh;
    height: 3000vh;
    width: 100vw;
    z-index: 300;

}
#vegetacao {
    position: sticky;
    top: 0%;
    /* 40% */
    height: 100vh;
    width: 100%;
    z-index: 30;
        overflow: hidden;

}
.divvegetacao {
  position: relative;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    z-index: 30;

}
#arvoredir {
    position: absolute;
    height: 180vh;
    width: auto;
    z-index: 2;
    right: 0;
    bottom: -10vh;
    transform-origin: center center;
    transition: transform 2s ease-out;
    
}

#arvoreesq {
    position: absolute;
    height: 170vh;
    width: auto;
    z-index: 2;
    left: -20vw;
    top: -30vh;
    transform-origin: center center;
    transition: transform 2s ease-out;
}

#planta {
    position: absolute;
    height: 50vh;
    width: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform-origin: center center;
    transition: transform 2.4s ease-out;
}



.move-ae {
    transform: rotate(-10deg) translate(-10vw, 0) scale(0.8) !important;
}
.move-p {
    transform: rotate(-10deg) translate(-10vw, 20vh) scale(0.9) !important;
}
.move-ad {
    transform: rotate(-10deg) translate(10vw, 20vh) scale(0.8) !important;
}
#arvoredir, #arvoreesq, #planta {
    transform-origin: center center;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.class-gato {
    position: absolute;
    height: 60vh;
    width: auto;
    top: -5vh;
    left: 30vw;
    z-index: 3;
    transform-origin: center center;
    transition: transform 3.4s ease-out;

    transform: rotate(-10deg) scale(0.67);
 


}
#gato-corpo {
    position: absolute;
    height: 60vh;
    width: auto;
    top: 0vh;
    left: 00vw;
    z-index: 3;
    transform-origin: center center;
    transition: transform 2.4s ease-out;
    display: none;

}
#gato-cabeca {
    position: absolute;
    height: 60vh;
    width: auto;
    top: 00vh;
    left: 00vw;
    z-index: 3;
    transition: transform 2.4s ease-out, opacity 2.4s ease-out;
    
}
#alice {
    position: absolute;
    height: 35vh;
    width: auto;
    bottom: 10vh;
    left: 40vw;
    z-index: 0;
    transform-origin: center center;
    transition: transform 2.4s ease-out;
}
/* Gato se move como a arvore esquerda (para a esquerda, menor) */
.move-g {
    transform: rotate(-10deg) translate(-100px, 0) scale(0.7) !important;
}

/* Alice se move para a esquerda e cresce */
.move-a {
    transform: rotate(-5deg) translate(20vw, 10vh) scale(1.4) scaleX(-1) !important;
}



                                                            /* arvore segundo plano */

#arvorefundo-container {
    position:fixed;
    left: 10vw;
    top: 0vh;
    height: 100vh;
    width: 100vw;
    z-index: 200;
}


#fundo-arvore {
    position: absolute;
    height: 105vh;
    width: auto;
    z-index: 2;
    left: 0;
    bottom: -5vh;
    transition: transform 2s ease-out;
}


.move-left2p {
    transform: translate(-20vw, 0)scale(0.9)  !important;
}
.move-left2g {
    transform: translate(-20vw, 0)scale(0.7)  !important;
}
.move-left2alice {
    transform: translate(20vw, 0)scale(1.4)  !important;
}
.move-left2a {
    transform:rotate(40deg) translate(20vw, 3vh) scale(0.8) !important;
}

.move-left3 {
    transform: translate(-5vw, 0)  !important;
}
.move-left4 {
    transform: translate(-1vw, 0)  !important;
}




.move-right2 {
    transform: translate(20vw, 20vh) scale(0.8) !important;
}
.move-right2g {
    transform: translate(-20vw, 0) scale(0.8) !important;
}
.move-right2e{
    transform: rotate(20deg) translate(-20vw, 0) scale(0.8) !important;
}
.move-right2p {
    transform: translate(0vw, 60vh)  !important;
}
.move-right3 {
    transform: translate(5vw, 0)  !important;
}
.move-right4 {
    transform: translate(1vw, 0)  !important;
}

.move-right2al {
    transform: translate(20vw, 10vh) scale(1.4) scaleX(-1)  !important;
}



.hide {
    opacity: 0;
    
}
.show {
   opacity: 1;
}


#gato {
    position: absolute;
    height: 60vh;
    width: auto;
     top: -10vh;
    left: 30vw;
    z-index: 3;
    transform-origin: center center;
        transition: transform 2.5s ease-out, opacity 2.2s ease-in-out;

    pointer-events: none; /* evita interações enquanto escondido */
}


.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

@keyframes oscilacao-cabeca {
    0%   { transform: rotate(25deg); }
    40%  { transform: rotate(-10deg); }
    100% { transform: rotate(25deg); }
}

.oscilando {
    animation: oscilacao-cabeca 3s cubic-bezier(0.65, -0.25, 0.35, 1.2) infinite;
    transform-origin: 80% 90%;
}


#sinais {
    position: absolute;
    height: 100vh;
    width:100vw;
    top: 0vh;
    left: 0vw;
    z-index: 1;
    transform-origin: center center;
    transition: transform 2.4s ease-out;
}
#sinal1 {
    position: absolute;
    height: auto;
    width: 10vw;
    top: 20vh;
    right: 2vw;
    z-index: 0;
    transform-origin: center center;
    transition: transform 2.4s ease-out;
}

#sinal2 {
    position: absolute;
    height: auto;
    width: 7vw;
   top: 40vh;
    left: 2vw;
    z-index: 3;
    transform-origin: center center;   
    transition: transform 2.4s ease-out;
    transform: rotate(-40deg)    ;
}




#chapter-transition-block {
    height: 100vh;
    background: #080011; /* Ou a cor desejada */
    width: 100vw;
}
#next-chapter-block {
    height: 300vh;
    background: #20360B; /* Escolha a cor do próximo capítulo */
    width: 100vw;
}