

.click-svg {
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 9998;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: svgPop 1s ease-out infinite alternate;
}

@keyframes svgPop {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
